In [1]:
import csv

In [ ]:
#csv.reader
with open('fake_records.csv', 'r', newline = '') as file:
    reader = csv.reader(file)
    for row in reader:
        print(','.join(row))

In [ ]:
#csv.DictReader
with open('fake_records.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        print(row['city'], ',', row['state'])

In [14]:
import pandas as pd

In [15]:
#pandas to send to dataframe
file = pd.read_csv('fake_records.csv')
file

,first_name,last_name,address,city,state,zip,manufacturer,sku,units_sold
0,Connor,Gardner,0953 Mills Falls Apt. 637,North Curtisburgh,Vermont,19659,Goodyear,sdjhfds84838,62
1,Jon,Trevino,733 Carla Avenue Apt. 922,Kristenbury,Delaware,85240,Goodyear,sdjhfds84838,31
2,Tyler,Jones,920 Walsh Curve Suite 485,East Seanborough,New York,73745,Yokohama,sdjhfds84838,52
3,James,Brown,0629 Matthew Gardens,North John,Iowa,54461,Goodyear,afkj98459,79
4,David,Adams,43786 Maria Islands,Vincenttown,Oklahoma,61126,Goodyear,sdjhfds84838,18
...,...,...,...,...,...,...,...,...,...
9995,Erica,Smith,2366 Santos Mall,Richardville,Florida,71681,Michelin,jskf345,57
9996,Tracy,Jimenez,35757 Angela Extensions,New Elijah,Minnesota,15035,Yokohama,jskf345,10
9997,Tabitha,Wallace,22390 Kyle Street,Cynthiashire,South Dakota,35530,Michelin,jskf345,67
9998,Nathaniel,Davis,6318 Dillon Spur,New Jordan,Missouri,47168,Michelin,sdjhfds84838,78
9999,Lisa,Irwin,46140 Burnett Corners Suite 568,Jonathanmouth,Florida,7310,Yokohama,sdjhfds84838,65

In [16]:
#pyarrow table csv
from pyarrow import csv

In [17]:
arrow_table = csv.read_csv('fake_records.csv')

In [18]:
arrow_table

pyarrow.Table
first_name: string
last_name: string
address: string
city: string
state: string
zip: int64
manufacturer: string
sku: string
units_sold: int64
----
first_name: [["Connor","Jon","Tyler","James","David",...,"Erica","Tracy","Tabitha","Nathaniel","Lisa"]]
last_name: [["Gardner","Trevino","Jones","Brown","Adams",...,"Smith","Jimenez","Wallace","Davis","Irwin"]]
address: [["0953 Mills Falls Apt. 637","733 Carla Avenue Apt. 922","920 Walsh Curve Suite 485","0629 Matthew Gardens","43786 Maria Islands",...,"2366 Santos Mall","35757 Angela Extensions","22390 Kyle Street","6318 Dillon Spur","46140 Burnett Corners Suite 568"]]
city: [["North Curtisburgh","Kristenbury","East Seanborough","North John","Vincenttown",...,"Richardville","New Elijah","Cynthiashire","New Jordan","Jonathanmouth"]]
state: [["Vermont","Delaware","New York","Iowa","Oklahoma",...,"Florida","Minnesota","South Dakota","Missouri","Florida"]]
zip: [[19659,85240,73745,54461,61126,...,71681,15035,35530,47168,7310]]
manufacturer: [["Goodyear","Goodyear","Yokohama","Goodyear","Goodyear",...,"Michelin","Yokohama","Michelin","Michelin","Yokohama"]]
sku: [["sdjhfds84838","sdjhfds84838","sdjhfds84838","afkj98459","sdjhfds84838",...,"jskf345","jskf345","jskf345","sdjhfds84838","sdjhfds84838"]]
units_sold: [[62,31,52,79,18,...,57,10,67,78,65]]

In [19]:
len(arrow_table)
arrow_table.to_pandas()

,first_name,last_name,address,city,state,zip,manufacturer,sku,units_sold
0,Connor,Gardner,0953 Mills Falls Apt. 637,North Curtisburgh,Vermont,19659,Goodyear,sdjhfds84838,62
1,Jon,Trevino,733 Carla Avenue Apt. 922,Kristenbury,Delaware,85240,Goodyear,sdjhfds84838,31
2,Tyler,Jones,920 Walsh Curve Suite 485,East Seanborough,New York,73745,Yokohama,sdjhfds84838,52
3,James,Brown,0629 Matthew Gardens,North John,Iowa,54461,Goodyear,afkj98459,79
4,David,Adams,43786 Maria Islands,Vincenttown,Oklahoma,61126,Goodyear,sdjhfds84838,18
...,...,...,...,...,...,...,...,...,...
9995,Erica,Smith,2366 Santos Mall,Richardville,Florida,71681,Michelin,jskf345,57
9996,Tracy,Jimenez,35757 Angela Extensions,New Elijah,Minnesota,15035,Yokohama,jskf345,10
9997,Tabitha,Wallace,22390 Kyle Street,Cynthiashire,South Dakota,35530,Michelin,jskf345,67
9998,Nathaniel,Davis,6318 Dillon Spur,New Jordan,Missouri,47168,Michelin,sdjhfds84838,78
9999,Lisa,Irwin,46140 Burnett Corners Suite 568,Jonathanmouth,Florida,7310,Yokohama,sdjhfds84838,65